@import "template/mixins";
@import "template/settings";
@import url(https://fonts.googleapis.com/css2?family=Overpass&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Livvic&display=swap);

// Solarized colors
$lightblue: #B8D1EB;
$blue:      #6089BA;
$darkblue:  #143A55;
$yellow:    #FBB927;
$lightgrey: #EBEBEB;
$darkgrey:  #A6A6A6;
$white:     #FEFAF7;
$black:     #000000;

// Override theme settings (see ../template/settings.scss)
$mainColor: $black;
$mainFont: 'Overpass', sans-serif;
$headingColor: $black;
$heading1Size: $heading1Size * 0.8;
$headingTextShadow: none;
$backgroundColor: #ebebeb;
$linkColor: $black;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $yellow;
$headingFont: 'Livvic', bold;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

@import "template/theme";

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

.reveal {
  .adjust-section-structure {
    font-size: 0.5em;
  }
  .flex-container {
    display: flex;
    .half {
      flex: 1;
      width: 50%;
    }
  }
  h1, h2, h3 {
    text-transform: none;
  }
  code * {
    font-family: monospace;
  }
  .smaller80 {
    font-size: $mainFontSize * 0.8;
  }
  .smaller70 {
    font-size: $mainFontSize * 0.7;
  }
  .smaller50 {
    font-size: $mainFontSize * 0.5;
  }
}

// For custom effect of fragments
.fragment.blur {
  filter: blur(5px);
}
.fragment.blur.visible {
  filter: none;
}

// Add background image to all slides
.slide-background.present{
background-image: url("website_background.png");
background-size: 100% 100%;
}
#customcontrols button {
    color: $darkgrey !important;
}

.reveal .controls {
	color: $black
}

.caption-text {
    font-size: 20px;
}