@import "template/mixins";
@import "template/settings";
@import url(https://fonts.googleapis.com/css2?family=Overpass&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Livvic&display=swap);

// Solarized colors
$lightblue: #B8D1EB;
$blue:      #6089BA;
$darkblue:  #143A55;
$yellow:    #FBB927;
$lightgrey: #EBEBEB;
$darkgrey:  #A6A6A6;
$white:     #FEFAF7;
$black:     #000000;
$red:       #D9534F;
$green:     #46a046;

// Override theme settings (see ../template/settings.scss)
$mainColor: $black;
$mainFont: 'Overpass', sans-serif;
$headingColor: $black;
$heading1Size: $heading1Size * 0.8;
$headingTextShadow: none;
$backgroundColor: #ebebeb;
$linkColor: $blue;
$linkColorHover: $lightblue;
$selectionBackgroundColor: $yellow;
$headingFont: 'Livvic', bold;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

@import "template/theme";

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

.reveal {
  .adjust-section-structure {
    font-size: 0.5em;
  }
  .flex-container {
    display: flex;
    .half {
      flex: 1;
      width: 50%;
    }
    .third {
      flex: 1;
      width: 33.3333%;
    }
    .two-thirds {
      flex: 2;
      width: 66.6666%;
    }
  }
  h1, h2, h3 {
    text-transform: none;
  }
  code * {
    font-family: monospace;
  }
  .smaller80 {
    font-size: $mainFontSize * 0.8;
  }
  .smaller70 {
    font-size: $mainFontSize * 0.7;
  }
  .smaller50 {
    font-size: $mainFontSize * 0.5;
  }
  .smaller40 {
    font-size: $mainFontSize * 0.4;
  }
  .smaller30 {
    font-size: $mainFontSize * 0.3;
  }
  .smaller20 {
    font-size: $mainFontSize * 0.2;
  }
}

// For custom effect of fragments
.fragment.blur {
  filter: blur(5px);
}
.fragment.blur.visible {
  filter: none;
}

// Add background image to all slides
.slide-background.present{
background-image: url("website_background.png");
background-size: 100% 100%;
}
#customcontrols button {
    color: $darkgrey !important;
}

.reveal .controls {
	color: $black
}

.caption-text {
    font-size: 20px;
}

// Clickable buttons
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Ruimte tussen de knoppen */
  margin: auto; /* Optioneel: centreer de container */
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; /* Ruimte tussen de knoppen */
  margin: auto; /* Optioneel: centreer de container */
}

.grid-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px; /* Ruimte tussen de knoppen */
  margin: auto; /* Optioneel: centreer de container */
}

.button1 {
  background-color: $blue;
  border: none;
  border-radius: 10px;
  color: $white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color;
}

.button1.pressed {
  background-color: $green; 
}

.button2 {
  background-color: $blue;
  border: none;
  border-radius: 10px;
  color: $white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color;
}

.button2.pressed {
  background-color: $red; 
}

.button3 {
  background-color: none;
  border: none;
  border-radius: 10px;
  color: $black;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color;
}

.button3.pressed {
  background-color: $green; 
}

.button4 {
  background-color: none;
  border: none;
  border-radius: 10px;
  color: $black;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color;
}

.button4.pressed {
  background-color: $red; 
}

// mouse-over pop-up for extra information
.popup {
  position: relative;
  display: inline-block;
}

.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: $lightblue;
  color: $black;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position the popup */
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $lightblue transparent transparent transparent;
}

.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}


// mouse-over pop-up for copyright
.popup_copyright {
  position: relative;
  display: inline-block;
}

.popup_copyright .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: $lightblue;
  color: $black;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 20%; /* Position the popup */
  left: 100%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
}


.popup_copyright:hover .popuptext {
  visibility: visible;
  opacity: 1;
}